* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: url("assets/bg.jpg") top no-repeat;
    background-size: 100% auto;
    background-color: #121214;
    color: white;
    font-family: "Inter", sans-serif;
    line-height: 160%;
}

header {
    padding-top: 32px;
    height: calc(240px + 32px);
}

header div {
    width: 240px;
    margin: auto;
    background-image: linear-gradient(
        90deg,
        #9572fc 0%,
        #43e7ad 50.52%,
        #e2d45c 100%
    );
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform 0.35s;
}

header div:hover {
    transform: scale(1.1);
}

header img {
    width: 100%;
    border-radius: 50%;
}

main {
    max-width: 900px;
    width: 90%;
    display: grid;
    gap: 24px;
    margin: 32px auto;
}

section {
    background-image: linear-gradient(
        90deg,
        #9572fc 0%,
        #43e7ad 50.52%,
        #e2d45c 100%
    );
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2a2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section p {
    color: #a1a1aa;
    margin-top: 1px;
}

.groups-list img {
    width: 190px;
    height: 240px;
    border-radius: 8px;
    margin: 0 auto;
}

.album-list img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid #443e54;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin-top: 16px;
    flex-wrap: wrap;
}

ul li {
    transition: transform 0.3s;
}

ul li:hover {
    transform: scale(1.1);
}

svg {
    width: 35px;
}

header div {
    animation: fromTop 0.7s backwards;
}

section {
    animation: fromBottom 0.6s 0.4s backwards;
}

section:nth-child(2) {
    animation-delay: 0.8s;
}

section:nth-child(3) {
    animation-delay: 1.2s;
}

@keyframes fromTop {
    from {
        transform: translateY(-400px);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from {
        transform: translateX(400px);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
